<label> Resultado da busca</label><br>
{{#each user}}

    <div>
        <a href='/atualizaProduto?id={{this.dataValue.id}}'>Atualiza Usuários</a>
        <a href='/deletaUsuario?id={{this.dataValue.id}}'> Remover Usuário</a><br>
       
        <b>Matrícula</b>:{{this.dataValue.matricula}}<br>
        <b>Nome</b>:{{this.dataValue.name}}<br>
        <b>Email</b>:{{this.dataValue.email}}<br>
        <b>Endereço</b>:{{this.dataValue.street}}<br>
        <b>Cidade</b>:{{this.dataValue.city}}<br>
        <b>Universidade</b>:{{this.dataValue.university}}<br>
        <b>Nascimento</b>:{{this.dataValue.birthdate}}<br>
        <b>Sexo</b>:{{this.dataValue.gender}}<br>
        
    </div>

{{/each}}
